{%extends "layout.html" %}
{% block content %}
<style>

@media screen and (max-width: 600px){
    .date-style{
        left: 41%;
}
}

@media screen and (max-width: 764px){
    .date-style{
        left: 37%;
}
}

@media screen and (min-width: 1024px){
    .border-split{
        padding-left: 5%; 
        border-left: 1px solid black;
    }
    .date-style{
        left: 40%;
}
    
}
</style>


<h1>{{title}}</h1>
          <article style="padding: 5px 0px; height: 90%; margin:12px; width:100%; display:inline-block" class="col-md-8 media content-section">
            <div style='margin-left:5px;' class="media-body">
              <div class="article-metadata">
                <h2 style='color:deepskyblue'>{{ guest.name }}</h2> 
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                    <br>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">E-mail:</label>
                        <p class="article-content">{{ guest.email }}</p>
                    </div>
                    
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">National ID:</label>
                        <p class="article-content">{{ guest.NationalID }}</p>
                    </div>
                    
                </div>
                <div class="col-md-6 border-split">
                    <br>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">check In:</label>
                        <p class="article-content">{{ guest.checkin }}</p>
                    </div>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Check Out:</label>
                        <p class="article-content">{{ guest.checkout }}</p>
                    </div>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Room:</label>
                        <p class="article-content">{{ guest.room }}</p>
                    </div>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Adults:</label>
                        <p class="article-content">{{ guest.adults }}</p>
                    </div>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Children:</label>
                        <p class="article-content">{{ guest.children }}</p>
                    </div>
                </div>
              </div>

              <div class='row justify-content-center mr-2'>
                <div class='col-md-5'>
                        <a href="{{ url_for('update_reservation', guest_id=guest.id) }}"> <input class="col-md-12 btn btn-primary" type="submit" value="Edit"> </a>
                </div>
              <div class='col-md-5'>
                <a href="{{ url_for('delete_reservation', guest_id = guest.id) }}"><input class="col-md-12 btn btn-danger" type="submit" value="Delete"></a>
              </div>
    </div>

            </div>
          </article>
{% endblock content %}