{%extends "layout.html" %}
{% block reserve %}

<style>
body{
	background-image: url('../static/background_img/background.jpg');
 background-size: auto;
 background-repeat: no-repeat;
 height: 100%;
}

@media screen and (max-width: 764px) {
.booking-cta{
display:none;
}
}

</style>
<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-5">
					<div class="booking-cta">
					<h1>Make your reservation</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
						ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
						Perspiciatis.
					</p> 
					</div>
				</div>
				<div style='height:10%;' class="col-md-7 col-md-pull-7">
						<div class="booking-form">
							<form method="POST" action="">
									{{ form.hidden_tag() }}
								<div class="form-group row">
										{{form.name.label(class="col-sm-2 col-form-label")}}
										<div class="col-sm-10">
											{% if form.name.errors %}

											{{form.name(class="form-control is-invalid", placeholder="Enter Name")}}
											<div class="invalid-feedback">
													{% for error in form.name.errors %}
													<span>{{error}}</span>
													{% endfor %}
												</div>

											{% else %}
											{{ form.name(class="form-control", placeholder="Enter Name") }}
											{% endif %}
											
										</div>
								</div>
								<div class="form-group row">
										{{form.email.label(class="col-sm-2 col-form-label")}}
											<div class="col-sm-10">

											{% if form.email.errors %}
												{{form.email(class="form-control is-invalid", placeholder="Enter E-mail")}}
													<div class="invalid-feedback">
														{% for error in form.email.errors %}
															<span>{{error}}</span>
														{% endfor %}
													</div>
											{% else %}
												{{ form.email(class="form-control", placeholder="Enter E-mail") }}
											{% endif %}

											</div>
									</div>
								<div class="form-group row">
										{{form.NationalID.label(class="col-sm-2 col-form-label")}}
											<div class="col-sm-10">
											
											{% if form.NationalID.errors %}
												{{form.NationalID(class="form-control is-invalid", placeholder="Enter National ID Card")}}
													<div class="invalid-feedback">
														{% for error in form.NationalID.errors %}
															<span>{{error}}</span>
														{% endfor %}
													</div>
											{% else %}
												{{ form.NationalID(class="form-control", placeholder="Enter National ID Card") }}
											{% endif %}

											</div>
								</div>	
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											{{form.checkin.label(class="form-label")}}

											{% if form.checkin.errors %}

											{{form.checkin(class="form-control is-invalid", type="date")}}
											<div class="invalid-feedback">
													{% for error in form.checkin.errors %}
													<span>{{error}}</span>
													{% endfor %}
												</div>

											{% else %}
											{{ form.checkin(class="form-control", type="date") }}
											{% endif %}
										</div>
									</div>
									<div class="col-sm-6">
											<div class="form-group">
												{{form.checkout.label(class="form-label")}}
												
												{% if form.checkout.errors %}

											{{form.checkout(class="form-control is-invalid", type="date")}}
											<div class="invalid-feedback">
													{% for error in form.checkout.errors %}
													<span>{{error}}</span>
													{% endfor %}
												</div>

											{% else %}
											{{ form.checkout(class="form-control", type="date") }}
											{% endif %}
											</div>
										</div>
								</div>
								<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												{{form.room.label(class="form-label")}}
												 {{form.room(class="form-control")}}
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												{{form.adults.label(class="form-label")}}
												{{form.adults(class="form-control")}}
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												{{form.children.label(class="form-label")}}
												{{form.children(class="form-control")}}
												<span class="select-arrow"></span>
											</div>
										</div>
									</div>
									<div class="form-btn">
										{{ form.submit(class="submit-btn") }}
									</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

<!-- <span class="form-label">Rooms</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span> -->

											<!-- <div class="form-group">
													<span class="form-label">Name</span>
													<input class="form-control" type="text" placeholder="Enter a destination or hotel name">
												</div>

												<div class="form-group">
														{{form.checkin.label(class="form-label")}}
														{{form.checkin(class="form-control", type="date")}}
													</div>

													<div class="row">
															<div class="col-sm-4">
																<div class="form-group">
																	{{form.rooms.label(class="form-label")}}
																	{{form.rooms(class="form-control")}}
																	<span class="select-arrow"></span>
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	{{form.adults.label(class="form-label")}}
																	{{form.adults(class="form-control")}}
																	<span class="select-arrow"></span>
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	{{form.children.label(class="form-label")}}
																	{{form.children(class="form-control")}}
																	<span class="select-arrow"></span>
																</div>
															</div>
														</div>
														<div class="form-btn">
															<button class="submit-btn">Check In</button>
														</div> -->